[Unit]
Description=ip_beacon making device discoverable
Documentation=https://gihub.com/jwatte/donkey_racing/ip_beacon/

[Service]
Type=idle
ExecStart=/usr/local/bin/ip_beacon
ExecStop=killall ip_beacon

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
