*.bak
*.bck
*.o
*.so
*.a
.*.swp
.*.swo
*.png
*.pkl
*.kicad_pcb-bak
*.summary
*.log
*.h264
*.mp4
mktraining/mktraining
blur/blur
stb
ip_beacon/build
pilot/obj
pilot/pilot
pilot/rifftoh264
network/data
network/proto
network/some-lmdb
mktrain/mktrain
