*.bak
*.bck
*.pyc
*.pyo
*.o
*.so
*.a
.*.swp
.*.swo
*.png
*.pkl
*.kicad_pcb-bak
*.summary
*.log
*.h264
*.mp4
mktraining/mktraining
blur/blur
stb
obj
ip_beacon/build
pilot/obj
pilot/pilot
pilot/rifftoh264
pilot/reset
network/data
network/proto
network/some-lmdb
build_training_database/mktrain
build_training_database/build_training_database
build_training_database/mkdbfromstream
calc/obj
teensy_32_v2/macrofab_order_20171126/
